[submodule "externals/capstone"]
	path = externals/capstone
	url = https://github.com/capstone-engine/capstone.git
[submodule "cppharden"]
	path = cppharden
	url = https://gitlab.com/niansa/cppharden.git
[submodule "tests/dynarmic"]
	path = tests/dynarmic
	url = https://github.com/yuzu-mirror/dynarmic.git
